*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    line-height: 24px;
    
}
.header{
    width: 100%;
    background-color: #fafafa;
}
h2{
    line-height: 44px;
    font-size: 40px;
}
h1{
    line-height: 64px;
    font-size: 64px;
}
/* LOGO */

.logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    padding: 80px 0 60px 0;   
}
.container{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.box {
    text-align: center;
    flex: 1;
}
.box2{
    padding: 10px;
}
.title-start {
    color: #28283D;
    line-height: 64px;
    font-size: 64px;
}
.text-start {
    color: #87879D;
}
.box1 > div img{
    border-radius: 50%;
    width:70%;
    height: auto;
}
.box1{
    display: flex;
    margin-left: -4%;
}
.img-box1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    margin-bottom: 20%;
}
.img-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}
.box3{
    display: flex;
    margin-right: -4%;
    
}
/* .box3 > div img{
    border-radius: 50%;
    width: 70%;
    height: auto;
} */
.box3-img{
    border-radius: 50%;
    width: 70%;
    height: auto;
}
.img-box4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    margin-top: 20%;
}
.img-box6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}
/* BUTTONS */

.but{
    border-radius: 120px;
    padding: 16px 29px;
    border: none;
    color: #fff;
    margin: 5px;
    font-size: 16px;
    font-weight: 900;
    font-family:'Red Hat Display', sans-serif;
    ;
}
.but1{
    background-color: #4D96A9;
}
.but1:hover{
    background-color: #8fe3f9; 
    cursor: pointer;  
}
.but2{
    background-color: #855fb1;
    cursor: pointer;
}
.but2:hover{
    background-color: #D9B8ff;
}
.span-but{
    color:#8FE3F9;
}

/* CARD-S */

.card-container{
    display: flex;
    justify-content: center;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    max-width: 70%;
}
.cards > img {
    width: 20%;
    border-radius: 10px;
}

/* LINE-CIRCLE */

 .line-circle{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 50px 0 30px 0;
 }
 .line{
     border-right: 1px solid #87879D;
     height: 70px;
 }
 .circle{
     width: 70px;
     height: 70px;
     border-radius: 50%;
     text-align: center;
     border: 1px solid #87879D;
     padding: 23px;
 }
 .zero-one{
     color: #87879D;
     font-weight: 900;
 }

 /* DOWN-TEXT  */

 .text-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     max-width: 550px;
     margin: 40px auto 20px auto ;
 }
 .blue-text{
     text-transform: uppercase;
     color: #4D96A9;
     font-weight: 900;
     letter-spacing: 4px;
 }
 .title-down {
     color: 28283D;
     font-weight: 900;
     
 }
 .down-text {
    color: #87879D;
    padding: 15px;
 }

 /* FOOTER  */
 .line-circle-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 -30px 0;
 }
 .line-footer{
    border-right: 1px solid #87879D;
    height: 70px;
}
.circle-footer{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    border: 1px solid #87879D;
    padding: 20px;
    background-color: #fff;
}
.zero-two{
    color: #87879D;
    font-weight: 900;
    
}

 .footer-container{
     background-image: url(/img/image-footer.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position:center;

 }
 .img-footer{
    background-color: rgba(77,150,168, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #fff;
    
 }

 .img-footer-picture{
    padding: 115px 0 105px 0;
    flex-basis: 350px;  
 }

 .img-footer > div:nth-child(3){
     flex-basis: auto;
 }
 .but-footer {
     background-color: #855FB1;
     border-radius: 120px;
     padding: 16px 29px;
     border: none;
     white-space: nowrap;
     color: #fff; 
     font-size: 16px;
     font-weight: 900;
     font-family:'Red Hat Display', sans-serif;

 }
 .span-footer {
     color: #D9B8FF;
 }
 .but-footer:hover{
     background-color: #B18BDD;
     cursor: pointer;
 }
/*  TABLET */

 @media screen and (max-width: 800px){
     /* container  */
    .container{
        flex-wrap: wrap;
    }
    .box1{
        order: 1;
        flex-basis: 50%;
    }
    .box2{
        order: 2;
        flex-basis: 100%;
    }
    .box3{
       order: 1;
       flex-basis: 50%;
    }
    .img-box1{
        margin-left: -3%;
    }
    .img-box4{
        margin-bottom: 20%;
    }
    .img-box6{
        margin-bottom: 20%;
        margin-right: -3%;
    }

    /* footer */
    .img.footer{
        flex-direction: row;
        width: 100%;
    }
    .img-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 60px 25px;
    }
    .img-footer div {
        flex-basis: auto;
        padding: 0;
    }
    .footer-title{
        margin: 0;
    }
    .cards{
        max-width: 100%;
        padding: 0 10px;
    }
   
 }
 /* MOBILE */
 @media screen and (max-width: 450px){
     .box2{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

     }
     .cards {
         display: flex;
         flex-direction: row;
         width: 100%;
         flex-wrap: wrap;
         
     }
     .cards > img {
        width: 40%;
     }
     
     
 }